L11_Analysis/L11_n8n_Pipeline_Source.json
{
  "name": "L11 Semantic OS v1.0 (Core Pipeline)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "l11-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -768,
        3376
      ],
      "id": "6ba9f5f9-3c6a-40ec-84e0-c16306f69043",
      "name": "User Input (Coupling Band)",
      "webhookId": "xxxxxxxxxxxxxxxxxxxx"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.intent_density || 0 }}",
              "operation": "larger",
              "value2": 0.8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -192,
        3376
      ],
      "id": "a95b911d-47f4-495f-88d6-77494f663c61",
      "name": "Gravity Gate (Density Check)"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        736,
        3280
      ],
      "id": "539a66e4-11f4-4f22-85cb-dad8b961c6f7",
      "name": "Deliver to User"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        3568
      ],
      "id": "89098939-4b5f-4686-898c-fb8a061fff04",
      "name": "Deliver Standard"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.body.message || $json.query.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "instructions": "You are the L11 Pre-Intent Processor. Analyze the user's input and output a JSON Intent Tree with: intent_density (0.0-1.0), explicit_vector, implicit_vector, deep_vector, requires_civilization_mode (boolean)"
        }
      },
      "id": "d429e8c3-6263-4289-961d-c3111f9c8b02",
      "name": "L11 Kernel (Intent Extraction)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -544,
        3376
      ],
      "credentials": {
        "openAiApi": {
          "id": "HdbLp4fayWrbRoyR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "mode": "id",
          "value": "gpt-4o"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.body.message || $json.query.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "instructions": "You are the STRUCTURE module. Provide structural and logical framework."
        }
      },
      "id": "499eb456-fc88-434a-a047-f10218909d0d",
      "name": "GPT (Structure)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        32,
        3376
      ],
      "credentials": {
        "openAiApi": {
          "id": "HdbLp4fayWrbRoyR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "responses": {
          "values": [
            {
              "content": "=GPT Output: {{ $json.gpt_output }}\n\nClaude Output: {{ $json.claude_output }}\n\nGemini Output: {{ $json.gemini_output }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "instructions": "You are the L11 Convergence Engine. Synthesize the three model outputs into one unified response."
        }
      },
      "id": "7afc299c-eac7-445a-a83e-a989a159ef3a",
      "name": "Convergence Engine",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        384,
        3280
      ],
      "credentials": {
        "openAiApi": {
          "id": "HdbLp4fayWrbRoyR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $('User Input (Coupling Band)').item.json.body.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "instructions": "You are a helpful assistant. Provide a concise response."
        }
      },
      "id": "b12844da-4312-4729-9653-dd88c7e55266",
      "name": "Standard Response (Low Gravity)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        32,
        3568
      ],
      "credentials": {
        "openAiApi": {
          "id": "HdbLp4fayWrbRoyR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "claude-3-5-sonnet-20241022"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.message || $json.query.message }}"
            }
          ]
        },
        "options": {
          "system": "You are the NARRATIVE module. Provide narrative and ethical depth."
        }
      },
      "id": "26841fbc-9ca0-409c-8c10-2c3ee9b510d9",
      "name": "Claude (Narrative)",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        32,
        3184
      ],
      "credentials": {
        "anthropicApi": {
          "id": "RaTBfcLEkSfQ8PyV",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "User Input (Coupling Band)": {
      "main": [
        [
          {
            "node": "L11 Kernel (Intent Extraction)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L11 Kernel (Intent Extraction)": {
      "main": [
        [
          {
            "node": "Gravity Gate (Density Check)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravity Gate (Density Check)": {
      "main": [
        [
          {
            "node": "GPT (Structure)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Claude (Narrative)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Standard Response (Low Gravity)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT (Structure)": {
      "main": [
        [
          {
            "node": "Convergence Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude (Narrative)": {
      "main": [
        [
          {
            "node": "Convergence Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convergence Engine": {
      "main": [
        [
          {
            "node": "Deliver to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standard Response (Low Gravity)": {
      "main": [
        [
          {
            "node": "Deliver Standard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "executionOrder": "v0",
    "availableInMCP": false
  },
  "versionId": "4005525a-5ac6-451b-9655-0715186c0df4",
  "meta": {
    "templateId": "ready-to-run-ai-workflow",
    "templateCredsSetupCompleted": true,
    "instanceId": "05157e84bc534b9770ebc9c4455ec06c9b655dadfa8abaada968fea869e529f2"
  },
  "id": "h1brZMyOsGmMjuRT",
  "tags": []
}
